@import "tailwindcss";

:root {
  --background: var(--color-white);
  --foreground: var(--color-black);
}

@theme inline {

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-poppins: var(--font-font-poppins);
  --font-swirly: var(--font-font-swirly);

  --color-gold: #B18236;
  --color-green: #C1D100;
  --color-white: #F2F1F1;
  --color-blue: #34B4F4;
  --color-brown: #431820;
  --color-orange: #ED6B06;
  --color-black: #1D1D1B;
  --color-background-black: #272b31;
  --color-brown-light: #E3C49B;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-background-black);
    --foreground: var(--color-white);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-font-poppins);
}

/* .loading-progress {
  animation-name: animation-loading-progress;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes animation-loading-progress {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
} */